body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    z-index: 1;
    margin: 0 0 200px 0;
    padding: 0;
    box-sizing: border-box;
    
  }

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}